# =================================
# Application
# =================================

NODE_ENV=development

# =================================
# Backend
# =================================

PORT=4000

# =================================
# Database
# =================================

DATABASE_URL=

# =================================
# Authentication
# =================================

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

SESSION_SECRET=
