# =================================
# Application
# =================================

NODE_ENV=development
PORT=4000

# =================================
# Database
# =================================

DATABASE_URL=

# =================================
# Google OAuth
# =================================

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# =================================
# Session Security
# =================================

SESSION_SECRET=
